Babel==2.11.0
docxcompose==1.4.0
docxtpl==0.16.5
greenlet==2.0.1
Jinja2==3.1.2
jsonpickle==3.0.1
lxml==4.9.2
MarkupSafe==2.1.1
python-docx==0.8.11
python-libnessus==1.0.0.10
python-libnmap==0.7.3
pytz==2022.7
scandb==1.0.0
six==1.16.0
SQLAlchemy==1.4.46
sqlalchemy-views==0.3.1
termcolor==2.2.0
